do_not_upload_scripts.sh
vim/bundle
vim/.netrwhist
vim/after/
vim/colors/Monokai.vim
vim/colors/vim-monokai/
vim/compiler/
vim/ftdetect/
vim/ftplugin/rust.vim
vim/indent/
vim/syntax/
vim/tmp/
vim/undodir/
